@media (max-width: 768px) {
	
	body {
		font-family: 'Merienda', cursive !important;
		width: 100%;
	}


	header nav li {
		width: 100%;
	}

	header ul li a {
		text-align: center;
	}

	#navimg {
		display: none;
	}


	#navimg1 {
		display: block;
	}

	#loader img {
		display: block !important;
		top: 50%;
		left: 50%;
		margin: 75px 0 0 140px;
		width: 72%
	}

	#apple {
		background-image: url("https://dhavalveera.github.io/master/portfolio2/images/iPhone.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		margin-right: auto;
		margin-left: auto;
	}

	#apple h1 {
		color: red;
		width: 100%;
	}


	#apple h2 {
		color: navy;
	}

	#apple p {
		color: navy;
		background: rgba(0,0,0,.0);
		text-align: center;
		text-indent: 8%;
	}

}
