body {
	font-family: 'Merienda', cursive !important;
}

header nav li {
	font-size: 1em;
	text-indent: 20px;
}

header ul li a {
	text-align: center;
}


#navimg1 {
	display: none;
}

#apple {
	background-image: url("https://dhavalveera.github.io/master/portfolio2/images/apple-mac-new.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	background-size: cover;
}


#apple h1 {
	color: white;
}


#apple h2 {
	color: white;
}

#apple p {
	color: white;
	background: rgba(0,0,0,.2);
}


aside ul {
	list-style-type: none;
}


aside ul li {
	display: inline-block;
	margin: 25px;
}


aside ul li:nth-child(1) {
	border: 1px solid purple;
	padding: 10px;
	background-color: rgba(0,0,0,.4);
}

aside ul li:nth-child(2) {
	border: 1px solid purple;
	padding: 10px;
	background-color: rgba(0,0,0,.4);
}

aside ul li:nth-child(3) {
	border: 1px solid purple;
	padding: 10px;
	background-color: rgba(0,0,0,.4);
}

aside ul li:nth-child(4) {
	border: 1px solid purple;
	padding: 10px;
	background-color: rgba(0,0,0,.4);
}

.service {
	background: rgb(255, 165, 0);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

figure.figure {
	border-radius: 50% 20% / 10% 40%;
	border: 1px solid navy;
	padding: 4px;
}


.contact {
	background: rgb(211, 211, 211);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


#email {
	width: 64px;
	height: 64px;
}

#contact1 {
	text-decoration: none;
}


#contactus li {
	list-style-type: none;
}


#contactus li {
	display: inline-block;
	margin: 15px;
}


.style18 {
	height: 30px;
	border-style: solid;
	border-color: #8c8b8b;
	border-width: 1px 0 0 0;
	border-radius: 20px;
}


.style18:before {
	display: block;
	content: "";
	height: 30px;
	margin-top: -31px;
	border-style: solid;
	border-color: #8c8b8b;
	border-width: 0 0 1px 0;
	border-radius: 20px;
}
