@media (max-width: 768px) {
	body {
		font-family: cursive;
	}

	header nav {
		width: 100%;
		z-index: 10;
		float: right;
	}

	header nav ul li a{
		float: right;
	}

	.navbar-brand img {
		float: left;
	}

	header {
		height: 115px;
	}

	.caption h1 {
		width: 100%;
		font-size: 22px;
		color: #f6ff00;
	}

	.caption h3 {
		font-size: 16px;
		width: 100%;
		color: #00FFF0;
		font-weight: 700;
	}

	.button {
		font-size: 20px;
	}
}