body {
	font-family: cursive;
}


header nav ul li {
	font-size: 18px;
	margin: 20px;
}


aside h3 {
	text-align: center;
	font-size: 28px;
}

aside h4 {
	text-align: center;
	font-size: 36px;
	font-weight: bolder;
}

hr {
	width: 20%;
	border: 2px solid;
}

#vision, #mission {
	text-align: center;
	font-size: 18px;
}

#tag {
	text-indent: 15%;
	font-size: 18px;
	color: red;
	background-color: rgba(0,14,32,.2);
	margin-left: 5px;
	margin-right: 5px;
}


#quote {
	text-align: center;
	text-indent: 0%;
}

article img {
	border-radius: 50%;
}

article p {
	font-size: 18px;
}


section p {
	text-indent: 12%;
	font-size: 18px;
	margin-left: 5px;
	margin-right: 5px;
}

footer h5 {
	font-weight: bolder;
	font-size: 25px;
	text-align: center;
}


footer p {
	text-align: center;
	font-size: 20px;
}

footer p a {
	text-align: center;
}

#button {
	background: linear-gradient(red, silver);
}


#button1 {
	background: linear-gradient(grey, maroon);
}

footer img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


#time {
	font-size: 16px;
}

footer #time1 {
	text-align: center;
	justify-content: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


#footer {
	font-size: 16px;
}