body {
	background-color: skyblue;
}

header {
	background-color: rgb(94, 26, 251);
	height: 110px;

}

p > img {
	margin: 5px;
	padding: 0px;
	height: 100px;
	width: 100px;
	float: left;
}

nav p {
	margin: 13px;
	float: right;
}


nav select {
  display: none;
}

ul li a {
	margin: 10px;
	float: left;
	display: inline;
}

ul {
	list-style-type: none;
}

li a {
	color: red;
	text-decoration: none;
	background-color: white;
	width: 10%;
	text-align: center;
	vertical-align: middle;
}

article img {
	width: 1325px;
	height: 500px;
}

h1 {
	font-variant: small-caps;
	text-transform: uppercase;
	color: chocolate;
	text-decoration: underline;
}

div img {
	margin-left: 300px;
}