@media (max-width: 768px) {
	body {
		font-family: cursive !important;
	}

	* {
		font-family: cursive !important;
		width: 100%;
	}

	.h1, .h3 {
		width: 100%;
	}

	img {
		width: 100%;
	}
}