@media (max-width: 768px) {
	body {
		font-family: cursive !important;
	}

	* {
		font-family: cursive !important;
		width: 100%;
	}

	h1, h2, h3, h4, h5, h6 {
		width: 100%;
		font-family: cursive !important;
	}

	p {
		width: 100%;
	}

	img {
		width: 100%;
	}
}