.ag {
	text-transform: uppercase;
	font-size: 1.5em;
 }

#ag {
	font-size: 2em;
 }

#cre > a {
	text-decoration-line: none;
	color: lightblue;
   }

#cre {
	line-height: 1px;
  }

.container {
	position: relative;
	text-align: center;
	color: white;
  }

.bottom {
	position: absolute;
	bottom: -10px;
	margin-left: 600px;
	background-color: lightblue;
	padding-left: 115px;
	padding-right: 86px;
	padding-bottom: 40px;
	font-size: 16px;
	width: 100px;
 }

.pic1 > img {
	float: left;
   }

#pic2 {
	float: left;
	margin-top: -4px;
  }

.pic2 > img {
	float: left;
  }

#pic3 {
	float: left;
  }

.pic3 > img {
	float: left;
  }

#serv {
	text-align: center;
	font-size: 2.5em;
  }

#serv1 {
	text-align: center;
	font-size: 18px;
  }


#container {
	position: relative;
	float: left;
	margin-left: 15px;
 }

#container > img {
	margin-left: 85px;
	line-height: 1px;
  }

#h6 {
	text-align: center;
	font-size: 18px;
	line-height: 10px;
	color: lightblue;
  }


#bottom {
	text-align: center;
  }

#container1 {
	position: relative;
	float: left;
	margin-left: 45px;
  }

#container1 > img {
	margin-left: 80px;
	line-height: 1px;
  }

#h7 {
	text-align: center;
	font-size: 18px;
	color: lightblue;
	line-height: 1px;
  }

#bottom1 {
	text-align: center;
  }

#container2 {
	position: relative;
	float: left;
	margin-left: 45px;
  }

#container2 > img {
	margin-left: 80px;
	line-height: 1px;
  }

#h8 {
	text-align: center;
	font-size: 18px;
	color: lightblue;
	line-height: 1px;
  }

#bottom2 {
	text-align: center;
  }


#container3 {
	position: relative;
	float: left;
	margin-left: 15px;
  }

#container3 > img {
	margin-left: 80px;
	line-height: 1px;
   }

#h9 {
	text-align: center;
	font-size: 18px;
	color: lightblue;
	line-height: 1px;
  }

#bottom3 {
	text-align: center;
  }

#container4 {
	position: relative;
	float: left;
	margin-left: 45px;
  }

#container4 > img {
	margin-left: 80px;
	line-height: 1px;
   }

#h10 {
	text-align: center;
	font-size: 18px;
	color: lightblue;
	line-height: 1px;
  }

#bottom4 {
	text-align: center;
  }

#container5 {
	position: relative;
	float: left;
	margin-left: 45px;
  }

#container5 > img {
	margin-left: 80px;
	line-height: 1px;
  }

#h11 {
	text-align: center;
	font-size: 18px;
	color: lightblue;
	line-height: 1px;
  }

#bottom5 {
	text-align: center;
  }

#footer {
	float: left;
	position: relative;
	line-height: 1px;
  }

#footer > a {
	text-decoration-line: none;
	color: lightblue;
  }

.footer {
	float: left;
	position: absolute;
	line-height: 1px;
  }

#float {
	float: right;
  }