@media (max-width: 768px) {
	
	body {
		font-family: 'Merienda', cursive !important;
		width: 100%;
	}


	header nav li {
		width: 100%;
	}

	header ul li a {
		text-align: center;
	}

	#navimg {
		display: none;
	}


	#navimg1 {
		display: block;
	}

	#loader img {
		display: block !important;
		top: 50%;
		left: 45%;
		margin: 40px 0 0 122px;
		width: 72%
	}


	#about {
		background-image: url("../images/plain.jpg");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
	}


	.topcarousel1 {
		background-color: lightgrey;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.justaboveservice1 {
		background-image: url("../images/laptop.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}


	.jumbotron1 {
	  	background-image: url("../images/Clients.jpg");
	  	background-attachment: fixed;
	  	background-repeat: no-repeat;
	  	background-size: cover;
	}


	#team {
		background-image: url("../images/team.jpg");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
	}


	#contact {
		background-image: url("../images/contact.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}


	#copyright {
		background-color: lightblue;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
	}

}