@media (max-width: 768px) {
	
	body {
		font-family: 'Merienda', cursive !important;
		width: 100%;
	}


	header nav li {
		width: 100%;
	}

	header ul li a {
		text-align: center;
	}

	#navimg {
		display: none;
	}


	#navimg1 {
		display: block;
	}

	#loader img {
		display: block !important;
		top: 50%;
		left: 50%;
		margin: 75px 0 0 140px;
		width: 72%
	}

}