@media (max-width: 768px) {

	body {
		font-family: 'Merriweather', serif;
		width: 100%;
	}

	header nav li {
		width: 100%;
	}

	header ul li a {
		text-align: center;
	}


	#navimg {
		display: none;
	}


	#navimg1 {
		display: block;
	}

	
	#header1 .nav-link {
	color: rgb(255,255,255);
	}

	section h4 {
		color: rgb(255,255,255);
		background: rgba(0,0,0,.5);
	}

	section p {
		color: rgb(255,255,255);
		background: rgba(0,0,0,.5);
	}

}