@media (max-width: 768px) {
  nav ul     { display: none; }
  nav select { display: inline-block;
  			   margin-top: 50px;
  			   float: right;
  			   margin-right: 25px;
  }

  ol li {
  	margin-left: 0;
  }


  h2 {
  	text-align: center;
  	color: purple;
  	width: 100%;
  	line-height: 1px;
  }

  .img1 {
  	width: 75%;
  	height: 50%;
  }


  .h1 {
   	font-variant: small-caps;
  	text-align: center;
  	text-decoration: underline;
  }


#article ol li {
	width: 95%;
}

iframe {
	width: 100%;
}

#h4 {
	text-transform: capitalize;
	color: red;
	width: 95%;
	text-align: center;
	}

.img2 {
	width: 100%;
	height: 75%;
}


.img3 {
	width: 100%;
	height: 75%;
}

.img4 {
	width: 100%;
	height: 75%;
}

#h1 {
	text-align: center;
	width: 100%;
	color: rgb(244, 26, 251);
}

.img5 {
	width: 100%;
	height: 75%;
}

.img6 {
	width: 100%;
	height: 75%;
}

.img7 {
	width: 100%;
	height: 75%;
}

.img8 {
	width: 100%;
	height: 75%;
}

.img9 {
	width: 100%;
	height: 75%;
}

#h3 {
	text-align: center;
	color: rgb(246, 16, 123);
	width: 100%;
	font-size: 25px;
}

.img10 {
	width: 100%;
	height: 75%;
}

.h3 {
	text-align: center;
	width: 100%;
	color: rgb(20, 169, 254);
	font-size: 20px;
}

.img11 {
	width: 100%;
	height: 75%;
}

.img12 {
	width: 100%;
	height: 75%;
}

#p1 {
	text-align: center;
	color: rgb(246, 254, 20);
	width: 100%;
	font-size: 25px;
}

.img13 {
	width: 100%;
	height: 75%;
}

.h4 {
	text-align: center;
	color: rgb(254, 161, 20);
	font-size: 25px;
}

.img14 {
	width: 100%;
	height: 75%;
}

.img15 {
	width: 100%;
	height: 75%;
}

#p2 {
	text-align: center;
	width: 100%;
	font-size: 25px;
	color: rgb(19, 59, 4);
}

.img16 {
	width: 100%;
	height: 75%;
}

.p2 {
	text-align: center;
	width: 100%;
	font-size: 25px;
	color: rgb(77, 127, 89);
}

.img17 {
	width: 100%;
	height: 75%;
}

.img18 {
	width: 100%;
	height: 75%;
}

.img19 {
	width: 100%;
	height: 75%;
}

#p3 {
	text-align: center;
	color: rgb(136, 72, 247);
	font-size: 25px;
}

.img20 {
	width: 100%;
	height: 75%;
}

.p3 {
	text-align: center;
	color: rgb(134, 134, 55);
	font-size: 25px;
}

.img21 {
	width: 50%
	height: 25%;
}

.img22 {
	width: 50%;
	height: 25%;
}

.img23 {
	width: 100%;
	height: 75%;
}

.img24 {
	width: 100%;
	height: 75%;
}

.img25 {
	width: 100%;
	height: 75%;
}

.img26 {
	width: 100%;
	height: 75%;
}

.img27 {
	width: 45%;
	height: 25%;
}

.img28 {
	width: 45%;
	height: 25%:;
}

}