@media (max-width: 768px) {
	body {
		font-family: cursive;
	}

	header nav li {
		margin: 25px;
		font-size: .8em;
		text-indent: 100px;
	}

	header ul li a {
		text-align: center;
	}


	#h1 {
		width: 100%;
		columns: skyblue;
	}

	.h1 {
		width: 100%;
	}
}