body {
	font-family: 'Poiret One', cursive !important;
}

* {
	font-family: 'Poiret One', cursive !important;
} 

header nav li {
	margin: 23px;
	font-size: 1.2em;
	text-indent: 100px;
}

header ul li a {
	text-align: center;
}


#h1 {
	color: navy;
}


.p {
	text-align: center;
	text-indent: 20%;
	font-size: 1.2em;
}


h4 {
	text-align: center;
	font-family: 'Poiret One', cursive !important;
	font-size: 2em !important;
}