body {
	font-family: cursive !important;
}

* {
	font-family: cursive !important;
} 

header nav li {
	margin: 25px;
	font-size: .9em;
	text-indent: 100px;
}

header ul li a {
	text-align: center;
}


#h1 {
	color: navy;
}


.p {
	text-align: center;
	text-indent: 20%;
}


h4 {
	text-align: center;
	font-family: cursive !important;
}