@media (max-width: 768px) {
	body {
		font-family: cursive !important;
	}

	* {
		font-family: cursive !important;
	}

	header nav li {
		width: 100%;
	}

	header ul li a {
		text-align: center;
	}

	.p {
		width: 100%;
	}


	#h1 {
		width: 100%;
		columns: skyblue;
	}

	.h1 {
		width: 100%;
	}


	#img1 {
		width: 100%;
	}
}