@media (max-width: 768px) {
	body {
		font-family: 'Poiret One', cursive !important;
	}

	* {
		font-family: 'Poiret One', cursive !important;
		width: 100%;
	}

	header nav li {
		width: 100%;
	}

	header nav img {
		width: 50%;
	}

	.navbar-toggler:not(:disabled):not(.disabled) {
		width: 50%;
	}

	.h1, .h3 {
		width: 100%;
	}

	img {
		width: 100%;
	}
}