body {
	font-family: cursive;
}

* {
	font-family: cursive;
}

header nav li {
	margin: 25px;
	font-size: .9em;
	text-indent: 100px;
}

header ul li a {
	text-align: center;
}


#links {
	font-family: cursive;
}


.h1 {
	text-align: center;
	font-family: cursive;
}

.container p {
	font-size: 1em;
	font-family: cursive;
}


.rulers {
	border: 1px solid;
}


.vakataka {
	text-align: center;
	text-indent: 15%;
}

.indo {
	text-align: center;
	text-indent: 20%;
}

.mathura {
	text-align: center;
	text-indent: 20%;
}


.western {
	text-align: center;
	text-indent: 20%;
}


.kushana {
	text-align: center;
	text-indent: 20%;
}

.pallava {
	text-align: center;
	text-indent: 10%;
}

.h3 {
	text-align: center;
	font-size: 1.2em;
	color: brown !important;
}

.kadamba {
	text-align: center;
	text-indent: 15%;
}

#img {
	width: 250px;
	height: 250px;
}


.ganga {
	text-align: center;
	text-indent: 20%;
}