@media (max-width: 768px) {
	body {
		font-family: 'Poiret One', cursive !important;
	}

	* {
		font-family: 'Poiret One', cursive !important;
		width: 100%;
	}

	.h1, .h2, .h3 {
		width: 100%;
	}

	img {
		width: 100%;
	}


}