body {
	background-color: lightyellow;
}


.IAHT {
	width: 1300px;
	height: 125px;
}

article p {
	height: 500px;
	float: left;
	width: 200px;
	background-color: grey;
	clear: both;
}

h1 {
	margin-top: 100px;
	text-align: center;
	font-family: Times New Roman !important, Aerial, Sens-Sarif;
	color: red;
	width: 90%;
}

.h1 {
	text-align: center;
	font-family: Times New Roman !important, Aerial, Sens-Sarif;
	color: purple;
}


#h1 {
	font-family: Times New Roman !important, Aerial, Sens-Sarif;
	text-align: center;
	color: maroon;
}

aside p {
	height: 500px;
	float: right;
	width: 200px;
	background-color: silver;
	clear: both;
	margin-top: -500px;
}


footer {
	text-align: center;
	font-family: Times New Roman !important, Aerial, Sens-Sarif;
}

footer a {
	text-decoration-line: none;
	color: red;
}