body {
	font-family: 'Shadows Into Light', cursive;
}

header h1 {
	text-align: center;
	font-size: 50px;
	text-decoration: underline;
}

div {
	text-align: center;
}

#name {
	font-size: 26px;
	line-height: 1;
	white-space: inherit;
}

.img {
	width: 250px;
	height: 250px;
}

button a {
	text-decoration: none;
	color: red;
}

button {
	text-decoration: none;
	background-color: rgba(120, 874, 886, .6);
}


p {
	font-size: 24px;
}


h3 {
	font-size: 26px;
	line-height: 0;
}


h4 {
	font-size: 32px;
	line-height: 0;
}


.h3 {
	vertical-align: middle;
}

.img1 {
	vertical-align: middle;
}