@media (max-width: 768px) {

body {
	background-color: lightcyan;
}

header nav li a {
	width: 100%
}


div .banner {
	width: 100%;
}


#emblem {
	display: none;
}

aside h6 p a {
	width: 100%;
}

aside h6 {
	text-align: center;
}

article {
	width: 99%;
}


article #part1, #part2, #part3 {
	width: 100%;
}

article h4 {
	width: 100%;
	color: chocolate;
}

table {
	width: 100%;
}

article img {
	width: 100%;
}

.h4 {
	text-align: center;
	color: silver;
	width: 100%;
}

}