body {
	background-color: lightgreen;
}

header nav li a {
	margin: 20px;
	font-size: 18px;
}

header span img {
	height: 300px;
	width: 200px;
	float: right;
}

div .banner {
	width: 100%;
}


section {
	border: 1px solid grey;
	height: 400px;
	width: 200px;
	float: left;
	padding: 2px;
	background-color: maroon;
}

section h6 {
	border: 1px solid grey;
	width: 190px;
	text-align: center;
	padding: 5px;
	float: left;
	background-color: lightgrey;
	color: red;
	font-weight: bold;
	font-size: 18px;
}

article h5 {
	text-align: center;
	font-size: 25px;
	border: 1px solid grey;
	color: darkred;
	background-color: silver;
	font-weight: bolder;
}


article #part1, #part2, #part3, #part4, #part5, #part6, #part7 {
	text-indent: 25px;
}


article h4 {
	text-align: center;
	color: purple;
}

table {
	width: 35%;
	margin-left: auto;
	margin-right: auto;
}

table td {
	border: 1px solid grey;
	text-align: center;
}

th {
	border: 1px solid grey;
	text-align: center;
	width: 100px;
}


.h4 {
	text-align: center;
	color: maroon;
}

#mumbai {
	float: left;
}


footer {
	text-align: center;
	color: green;
	background-color: lightyellow;
}

#logo {
	height: 200px;
	width: 250px;
}