body {
	background-color: lightgreen;
	font-family: cursive;
}

header nav li a {
	margin: 20px;
	font-size: 18px;
}

span img {
	max-width: 500px;
	margin: auto;
}

aside img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}


article {
	float: left;
	display: inline;
}

article .menuitem {
	box-sizing: border-box;
	text-align: center;
	border: 1px solid grey;
	padding: 5px;
	width: 200px;
	margin-left: 10px;
	background-color: lightgrey;
	color: red;
	clear: both;
}


#menu2 {
	border: 1px solid grey;
	width: 200px;
	float: left;
	margin-left: 20px;
	padding: 5px;
	text-align: center;
	background-color: lightgrey;
	color: red;
}


#download {
	float: left;
}

#menu3 {
	border: 1px solid grey;
	width: 200px;
	float: left;
	margin-left: 10px;
	padding: 5px;
	text-align: center;
	background-color: lightgrey;
	color: red;
}


#menu4 {
	border: 1px solid grey;
	width: 200px;
	float: left;
	margin-left: 20px;
	padding: 5px;
	text-align: center;
	background-color: lightgrey;
	color: red;
}

#contact {
	float: left;
}


footer {
	text-align: center;
	color: green;
	background-color: lightyellow;
}

#logo {
	height: 200px;
	width: 250px;
}