body {
	background-color: lightgreen;
	font-family: cursive;
}

header nav li a {
	margin: 20px;
	font-size: 18px;
}


article a {
	font-size: 18px;
}

div img {
	width: 400px;
	height: 300px;
}


h1 {
	text-align: center;
	text-decoration: underline;
	text-shadow: 4px 4px 4px red;
}

h2 {
	text-align: center;
	text-decoration: underline;
}

p {
	text-align: center;
}

.card-title {
	text-align: center;
	font-size: 2em;
}

.card-text {
	text-align: center;
	font-size: 1.5em;
}

#footer-logo img {
	width: 32px;
	height: 32px;
}