body {
	background-color: lightgreen;
}

header {
	background-color: lightyellow;
}

header nav a {
	border-radius: 12px;
	text-decoration-line: none;
	display: inline-block;
	width: 10%;
	box-shadow: 1px 2px #3b3d3c;
	padding: 1%;
	margin: 1%;
	color: 000000;
	background-color: lightsalmon;
	font-weight: bold;
	text-align: center;
}

header nav a:hover {
	background-color: lightseagreen;
	color: maroon;
	text-decoration-line: none;
}

div .banner {
	width: 100%;
}


article .img1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-align: center;
	background-color: lightgrey;
	color: red;
}

table {
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

h4 {
	text-align: center;
	color: navy;
}

td {
	border: 1px solid grey;
	text-align: center;
}


footer {
	text-align: center;
	color: green;
	background-color: lightyellow;
}

#logo {
	height: 200px;
	width: 250px;
}