@media (max-width: 768px) {

body {
	background-color: lightcyan;
}

div .banner {
	width: 100%;
}

.img1 {
	width: 100%;
}

h4 {
	width: 100%;
	background-color: silver;
	color: navy;
}

table {
	width: 100%;
}


}