header nav li a {
	margin: 20px;
	font-size: 18px;
}

div .banner {
	width: 100%;
}


article .img1 {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-align: center;
	background-color: lightgrey;
	color: red;
}

table {
	width: 45%;
	margin-left: auto;
	margin-right: auto;
}

h4 {
	text-align: center;
	color: navy;
	font-size: 3em !important;
}

td {
	border: 1px solid grey;
	text-align: center;
}


footer a {
	color: rgba(0,0,0);
	text-decoration-line: none;
}


footer a:hover {
	text-decoration-line: none;
}


footer button {
	background-color: rgba(0,0,0,.6);
}


.card-title {
	text-align: center;
	font-size: 2em;
}

.card-text {
	text-align: center;
	font-size: 1.5em;
}

#footer-logo img {
	width: 32px;
	height: 32px;
}