@media (max-width: 1000px) {
	header nav a {
		max-width: 75%;
		text-decoration-line: none;
	}
}


@media (max-width: 900px) {
	header nav a {
		width: 50%;
		text-decoration-line: none;
	}
}


@media (max-width: 768px) {

body {
	background-color: lightcyan;
}

header {
	background-color: lightpink;
}

header nav a {
	width: 35%;
	text-decoration-line: none;
}

div .banner {
	width: 100%;
}

.img1 {
	width: 100%;
}

h3 {
	width: 100%;
	background-color: silver;
	color: navy;
}

table {
	width: 98%;
}

h4 {
	width: 100%;
	color: purple;
}


.menu p {
	margin-top: 5%;
	float: left;
	margin-left: 5%;
}

#menu2 {
	width: 92%;
}

.menuitem {
	width: 100%;
}

}