body {
	font-family: 'Caveat', cursive;
}

* {
	font-family: 'Caveat', cursive;
}

header {
	color: yellow;
	font-family: 'Bad Script', cursive;
	background: rgba(164, 252, 10,.3);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 125vh;
}


header nav li a {
	margin: 15px;
	text-indent: 120px;
	font-size: 22px;
}

header nav li {
	position: sticky;
}

.nav-img {
	width: 175px;
	height: 75px;
}

.type h1 {
	position: absolute;
	top: 50%;
	left: 42%;
	font-size: 5em;
	transform: translate(-50%, -50%;);
	color: red;
	font-weight: bolder;
}

.type h2 {
	position: absolute;
	top: 63%;
	left: 45%;
	font-weight: 7em;
	text-align: center;
	transform: translate(-50%, -50%;);
	color: red;
	font-weight: bolder;
}


body h1 {
	font-size: 4em;
}

body #About {
	background: rgba(249, 59, 46, .3);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 175vh;
}

body #About .container hr {
	border-top: 3px solid #222;
	width: 27%;
	color: white;
	margin-bottom: 30px;
}

body #About .container h1 {
	color: white;
	font-size: 5em;
}

#About p {
	font-size: 2em;
	color: red;
	text-indent: 50px;
}


figcaption {
	font-size: 1.8em;
	text-align: center;
	color: rgb(250,8,8);
	font-weight: bolder;
}

body #Skills {
	background: rgba(17, 254, 240, .5);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 150vh;
}

body main #Skills {
	padding-top: 5%;
}

body #Skills .container > h1 {
	color: white;
	font-size: 5em;
}

body #Skills .container hr {
	border-top: 3px solid red;
	width: 17%;
	color: red;
	margin-bottom: 30px;
}

#Skills p {
	font-size: 3em;
	color: red;
	text-indent: 50px;
}

i {
	vertical-align: middle;
}

progress {
	vertical-align: middle;
	background-color: green;
	width: 225px;
}


body #Skills .skill-learning hr {
	border-top: 3px solid purple;
	width: 45%;
	color: white;
	margin-bottom: 30px;
}


body #Skills .skill-learning h2 {
	font-size: 4em;
	color: red;
}


body #Projects {
	background: rgba(0, 128, 255, .5);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 290vh;
}


body #Projects hr {
	border-top: 3px solid chocolate;
	width: 18%;
	color: white;
	margin-bottom: 30px;
}


body #Projects h1 {
	color: white;
	font-size: 5em;
	margin-top: 0px;
}


#i {
	margin-top: 100%;
}

#i1 {
	display: none;
}

#h3 {
	text-align: center;
	font-size: 4em;
	color: white;
}


#p1 {
	font-size: 3em;
	text-align: center;
	color: white;
}


body .hire {
	background: rgba(208, 46, 252, .5);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45vh;
}


.hire .container-fluid p a {
	text-decoration: none;
	color: red;
	font-size: 2em;
	text-align: center;
}


#hireme {
	color: red;
}

#hireme1 {
	color: black;
	font-size: 2.5em;
	font-weight: bolder;
}


body #Contact {
	background: rgba(252, 7, 22, .5);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

body #Contact .container h1 {
	color: white;
	font-weight: bolder;
	font-size: 5em;
}

body #Contact .container hr {
	border-top: 3px solid white;
	width: 40%;
	color: white;
	margin-bottom: 30px;
}


#footerp {
	font-size: 3em;
	color: white;
}