@media (max-width: 768px) {
	body {
		font-family: cursive;
	}

	.type h1, h2 {
		background-color: rgba(0,0,0,.8);
	}

	.type h1 {
		position: absolute;
		top: 50%;
		left: 45%;
		transform: translate(-50%, -50%);
		font-size: 37px;
	}

	.type h2 {
		position: absolute;
		top: 60%;
		left: 50%;
		color: maroon;
		transform: translate(-50%, -50%);
	}

	body #About {
		background-image: url("about.jpg");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		height: 325vh;
	}

	body #Skills {
		background: url("html5.jpg");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		height: 410vh;
	}

	body #Skills .skill-learning h2 {
		font-size: 4em;
		color: red;
		background-color: rgba(0,0,0,.0);
	}

	body #Projects {
		background: url("css3.jpg");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		height: 300vh;
	}

	#i, #i1 {
		display: inline-block;
	}

	body #Contact {
		background: url("bootstrap.jpg");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		height: 150vh;
	}

	body .hire {
		background: url("contact-us-banner.jpg");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		height: 70vh;
	}
}