@media (max-width: 768px) {
	body {
		font-family: 'Caveat', cursive;
	}

	.type h1, h2 {
		background-color: rgba(0,0,0,.8);
	}

	.type h1 {
		position: absolute;
		top: 50%;
		left: 45%;
		transform: translate(-50%, -50%);
		font-size: 37px;
	}

	.type h2 {
		position: absolute;
		top: 63%;
		left: 50%;
		width: 100%;
		color: maroon;
		transform: translate(-50%, -50%);
	}

	body #About {
		background-image: url("about.jpg");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		height: 350vh;
	}

	body #About .container hr {
		border-top: 3px solid #222;
		width: 27%;
		color: white;
		margin-bottom: 30px;
	}

	body #Skills {
		background: url("html5.jpg");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		height: 430vh;
	}

	body #Skills .container hr {
		border-top: 3px solid red;
		width: 17%;
		color: white;
		margin-bottom: 30px;
	}

	body #Skills .skill-learning h2 {
		font-size: 4em;
		color: red;
		background-color: rgba(0,0,0,.0);
	}

	body #Skills .skill-learning hr {
		border-top: 3px solid purple;
		width: 45%;
		color: white;
		margin-bottom: 30px;
	}

	body #Projects {
		background: url("css3.jpg");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		height: 380vh;
	}


	body #Projects hr {
		border-top: 3px solid chocolate;
		width: 18%;
		color: white;
		margin-bottom: 30px;
	}


	#i {
		display: none;
	}

	#i1 {
		display: block;
	}

	body .hire {
		background: url("contact-us-banner.jpg");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		height: 85vh;
	}

	body #Contact {
		background: url("bootstrap.jpg");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		height: 230vh;
	}

	body #Contact .container hr {
		border-top: 3px solid white;
		width: 40%;
		color: white;
		margin-bottom: 30px;
	}

	
}