body {
	font-family: 'Noto Serif', serif;
}

.navbar-nav a {
	font-family: 'Noto Serif', serif;
	margin: 15px;
}

#navbarNav .nav-link {
	color: red;
}

#navimg1 {
	display: none;
}

/* Header 2 */

.box {
	width: 100%;
	position: relative;
	display: inline-block;
}


#headerabout h4 {
	position: absolute;
	z-index: 999;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 30%;
	text-align: center;
	width: 60%;
	color: rgb(255,255,255);
	background-color: rgba(0,0,0,.5);
}


/* About Me */


#articleabout {
	background-color: grey;
}