body {
	font-family: 'Noto Serif', serif;
}

.navbar-nav a {
	font-family: 'Noto Serif', serif;
	margin: 15px;
}

#navbarNav .nav-link {
	color: red;
}

#navimg1 {
	display: none;
}


